/*
 * Grid
 * A simple, flexible, fluid grid system that can flow nicely inside a fluid or a fixed container or play good with another Grid system.
 * Brajeshwar, http://brajeshwar.com
 *
 * Demo & Details: http://brajeshwar.github.com/grid/
 */
 
/* grids container - wrap your grids within */
.grids { overflow: hidden; }

/* grids */

.g1of2, .g1of3, .g1of4, .g1of5,
.g2of3, .g2of5,
.g3of4, .g3of5,
.g4of5	{ float: left; }

.g1of2	{ width: 50%; }
.g1of3	{ width: 33.333333333%; }
.g1of4	{ width: 25%; }
.g1of5	{ width: 20%; }

.g2of3	{ width: 66.666666666%; }
.g2of5	{ width: 40%; }

.g3of4	{ width: 75%; }
.g3of5	{ width: 60%; }

.g4of5	{ width: 80%; }