/*
 * ----------------------------------------------
 * Optional helper styles
 * What you need is just the "grid" styles - grid.scss or grid.css
 * ----------------------------------------------
*/
body {
  width: 80%;
  margin: 2em auto;
  padding: 0;
  background: #efefef;
  color: #444;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}

hr {
  display: block;
  height: 0;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #fff;
}

[class*="col-"] {
  height: 40px;
  line-height: 40px;
  border: 1px solid #aaa;
}
